name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Install lftp
      run: sudo apt-get install -y lftp
      
    - name: Deploy via lftp
      env:
        FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
      run: |
        lftp -c "
        set ssl:verify-certificate no;
        open -u u521468402,$FTP_PASSWORD ftp://82.25.96.249:21;
        mirror -Rev ./ /domains/techykoala.com/public_html --ignore-time --parallel=10 --exclude .git/ --exclude .github/
        "