name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: SFTP Deploy
      uses: wlixcc/SFTP-Deploy-Action@v1.2.4
      with:
        server: 82.25.96.249
        username: u521468402
        password: ${{ secrets.FTP_PASSWORD }}
        port: 65002
        local_path: './*'
        remote_path: '/domains/techykoala.com/public_html'